:root {
    --teal: #3A9DBE;
    --turquoise: #54B0C9;
    --sea: #7CBCCA;
    --moss: #BCC8B7;
    --sand: #FFECBD;
    --stone: #F8B77C;
    --dark: grey;
    --shade: rgb(179, 179, 179);
    --muted: rgb(213, 213, 213);
    --danger: rgb(255, 157, 157);
}

/* For smoother scrolling */
html {
    scroll-behavior: smooth;
  }

* {
    font-family: 'Varela Round', sans-serif;

}

.btn:active {
    transform: translateY(3px);
}

#clock {

    color: white;
    background-color: var(--dark);
    margin: 10px auto;
    text-align: center;
    padding: 15px 0px;
    border: 10px solid var(--muted);
    border-radius: 15px;
    width: 50%;


}

header {

    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0px auto;
    color: white;
    background-color: var(--dark);
    font-size: 1.2rem;
    text-align: center;
    width: 95%;
    padding: 15px 0px;
    border: 10px solid var(--muted);
    border-radius: 15px;
}




/* Warning */
.empty {
    color: var(--danger);
}

label {
    color: var(--dark);
}

#input-container {
    display: flex;
    flex-direction: column;
}

#search-city, #state {
    padding: 5px 15px;
    margin: 5px 5px;
    border: 3px solid var(--shade);
    display:inline-block;
}

#system {
    text-align: center;
}



#search {
    text-decoration: none;
    cursor: pointer;
    color:white;
    width: fit-content;
    padding: 5px 15px;
    margin: 5px 5px;
    border: 3px solid var(--danger);
    background-color: var(--turquoise);
    display:inline-block;
}

#search-history-container {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#search-history {
    margin-top: 0px;
    padding-left: 0;
}

.city {
    text-decoration: none;
    cursor: pointer;
    color: white;
    list-style-type: none;
    padding: 5px 15px;
    margin: 5px 5px;
    margin-top: 0px;
    border: 3px solid var(--moss);
    border-radius: 15px;
    display:inline-block;
    background-color: var(--teal);
}

#clear-history {
    color: white;
    cursor: pointer;
    width: fit-content;
    padding: 5px 15px;
    margin: 5px 5px;
    border: 3px solid var(--turquoise);
    display:inline-block;
    background-color: var(--danger);
}

#city-input,#state-input,#submit {
    display:block;
    text-align: center;
    margin: 10px auto;
}

/* Current weather styling */
#current-weather-container {

    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0px auto;

}

#current-weather-title, #forecast-title, #search-history-title {
    color: var(--dark);
}


#current-weather {
    color: white;
    text-align: center;
    padding: 15px 25px;
    margin-top: 0px;
    border-radius: 25px;
    width: 90%;
    border: 10px solid var(--shade);
    background-color: var(--teal); 
}



#forecast-title {
    text-align: center;
    width: 100%;
}

#forecasts {
    justify-content: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.forecast {
    color: black;
    padding: 15px 20px;
    margin: 0px 5px;
    margin-bottom: 5px;
    border-radius: 25px;
    width: fit-content;
}

#forecast-1 {

    background-color: var(--turquoise);
}

#forecast-2 {

    background-color: var(--sea);
}

#forecast-3 {

    background-color: var(--moss);
}

#forecast-4 {

    background-color: var(--sand);
}

#forecast-5 {

    background-color: var(--stone);
}

/* Back-to-top button */
#back-button {
    text-align: center;

}

#back {
    text-decoration: none;
    font-size: 0.8rem;
    cursor: pointer;
    color: var(--dark);
    width: fit-content;
    text-align: center;
    padding: 5px 15px;
    margin: 10px auto;
    border: 3px solid var(--sand);
    background-color: var(--stone);
    display:inline-block;
}

/* Media queries */
@media screen and (max-width:470px) {

    header {
        font-size: 1rem;
    }

    #clock {
        font-size: 0.8rem;
        width: 80%;
    }

    #current-weather {
        color: white;
        text-align: left;
        padding: 15px 25px;
        margin-top: 0px;
        border-radius: 25px;
        width: 90%;
        border: 10px solid var(--shade);
        background-color: var(--teal); 
    }

    .forecast {
        color: black;
        padding: 15px 20px;
        margin: 0px 5px;
        margin-bottom: 5px;
        border-radius: 25px;
        width: 80%;
    }







}
